.finished{
    opacity: 0.5;
}
body .card .switch label{
    color: white;
}

body .card .card-action{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

form{
    margin: 11px;
}